.Home__Header__Main--HeroImage{
    width: 50%;
    height:100vh;
    background: transparent url(../../assets/Home-Hero-Image.jpg) no-repeat padding-box 0% 0%;
    background-size:cover;
    background-position: right;
    margin-top:50px;    
   
}