@import "settings/fonts.scss";

.homeThreeColumnsContainer {
    display: flex;
    background-image: url("../assets/3\ Columns\ Background.png");
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1900px;
}

.columnsCounter {
    font-size: 9rem;
}

.columnsShortText {
    font-size: 1.8rem;
}

.columnsLongText {
    font-size: 1.6rem;
    font-family: $font-alt;

}

.firstColumnContainer {
    display: flex;
    height: 252px;
    max-width: 334px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.secondColumnContainer {
    display: flex;
    height: 252px;
    max-width: 334px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.thirdColumnContainer {
    display: flex;
    height: 252px;
    max-width: 334px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}